# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment & Secrets
.env
.env.*
*.env
!.env.example

# Build & Dist
node_modules
dist
dist-ssr
*.local

# Documents & Confidential
Documents/
*.pdf
*.docx

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

